<div class="card text-center">
    <div class="card-body">
        <h1 class="text-orange">
            <i class="bi bi-emoji-laughing"></i>
        </h1>
        <h4 class="card-title text-blue"> Saudações, bem-vindo a minha aplicação desafio! </h4>

        <p class="card-text">Este sistema foi desenvolvido com o objetivo de solucionar um case proposto durante o processo seletivo do Itaú!</p>
        <p class="card-text"><strong class="text-blue">Objetivo:</strong> Criar uma aplicação no modelo SPA usando Angular (8 ou mais recente) para consulta e cadastro de produtos.</p>
        
        <div class="row">
            <div class="col-12">
                <div class="card" >
                    <div class="card-header bg-blue">
                        <strong> Funcionalidades </strong> 
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <small> 
                                <strong class="text-blue">Consulta de produtos: </strong>
                                Tela onde serão apresentados todos os produtos cadastrados possibilitando a pesquisa por código e/ou categoria (opções: atacado, varejo, internacional, todos),. Deve exibir uma lista contendo código do produto, nome, categoria.
                            </small>
                        </li>
                        <li class="list-group-item">
                            <small>
                                <strong class="text-blue">Inclusão: </strong>
                                Tela para permitir a inclusão de um produto novo, permitindo informar código (único e não deve repetir), nome e categoria (deve ser uma lista pré-definida). Deve ter as opções de salvar ou voltar para a tela de consulta.
                            </small>
                        </li>
                        <li class="list-group-item">
                            <small>
                                <strong class="text-blue">Alteração: </strong> 
                                Tela para permitir alterar nome e categoria de um produto já existente. Deve ter as opções de salvar ou voltar para a tela de consulta.
                            </small>
                        </li>
                        <li class="list-group-item ">
                            <small>
                                <strong class="text-blue">Exclusão: </strong> 
                                Excluir um determinado produto da lista apresentada na tela de consulta, solicitando a confirmação do usuário.
                            </small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Desenvolvido por Jhonatan Lopes de Olivera - 2021 ©</small>
    </div>
</div>